body{
    margin: 0px;
    background-color: rgb(224, 224, 224);
    font-family: "Marcellus", serif;
}
#container{
    max-width: 980px;
    margin: 40px auto;
    display: flex;
}
#intro{
    width: 300px;
    margin-right: 20px;
}
main{
    margin: 32px 100px 0 0 ;    
}
button{
    border: none;
    background: none;
    color: #ff5E84;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
}
button:hover{
    text-decoration:underline ;
}
.color{
    background-color: #ff5E84;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 50px 0;
    box-shadow: 1px 4px 6px #ff5E84;
}
button.color:hover{
    text-decoration:none ;
}
#buttons{
    display: flex;
    justify-content: space-evenly ;
}
a{
    color: #ff5E84;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.idea{
    display: flex;
    margin-bottom: 32px;
    background-color: white;
    padding: 20px;
    border-radius: 40px 5px;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 1.5);
}
.idea img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
}
.idea h3{
    margin: 0;
}
.idea p {
    margin: 8px 0;
    color: #777;
}
.idea .description {
    margin: 16px 0;
}
p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.hide{
    display: none;
}
footer{
    text-align: center;
}

/*MODAL*/
#modal{
    background-color: #ff5E84;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#modal #content {
    margin-top: 128px;
    color: white;
}
#modal #content h1 {
    text-align: center;
    text-transform: uppercase;
}
#content form{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}
.input-wrapper{
    margin: 16px 0;
}
form input, form textarea{
    width: 100%;
    padding: 13px;
    border-radius: 6px;
    border: 1px solid #cc0030be;
    outline: none;
}