body{
    margin: 0;
}
#container{
    max-width: 980px;
    width: 90px;
    margin: 40px auto;
    display: flex;
}
#intro{
    width: 300px;
    margin-right: 20px;
}
main{
    margin: 32px 100px 0 0 ;    
}
button{
    border: none;
    background: none;
    color: #ff5E84;
    cursor: pointer;
    outline: none;
}
button:hover{
    text-decoration:underline ;
}
.color{
    background-color: #ff5E84;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 50px 0;
    box-shadow: 1px 4px 6px #ff5E84;
}
button.color:hover{
    text-decoration:none ;
}
#buttons{
    display: flex;
    justify-content: space-evenly ;
}

.hide{
    display: none;
}
footer{
    text-align: center;
}